<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Listas de Tareas</title>
        <link rel="stylesheet" type="text/css" href="styles/tasks.css" media="screen"/>
        <script src="scripts/jquery-3.2.1.js"></script>
        <script src="scripts/jquery.tmpl.js"></script>
        <script src="scripts/jquery.validate.js"></script>
        <script src="scripts/jquery-serialization.js"></script>
        <script src="scripts/tasks-controller.js"></script>
        <script src="scripts/date.js"></script>
        <!--script src="scripts/tasks-webstorage.js"></script>
        <script src="scripts/tasks-indexeddb.js"></script-->
    </head>
    <body>
        <header>
            <span>Lista de Tarea</span>
        </header>
        <main id="taskPage">
            <section id="taskCreation" class="not">
                <form id="taskForm">
                    <input type="hidden" name="id"/>
                    <div>
                        <label>Tarea</label>
                        <input type="text" required="required" maxlength="200" name="task" class="large" placeholder="Desayunadero de la 42"/>
                    </div>
                    <div>
                        <label>Fecha</label>
                        <input type="date" required="required" name="requiredBy" />
                    </div>
                    <div>
                        <label>Categoría</label>
                        <select name="category">
                            <option value="Personal">Personal</option>
                            <option value="Work">Laboral</option>
                        </select>
                    </div>
                    <nav>
                        <a href="#" id="saveTask">Guardar Tarea</a>
                        <a href="#" id="clearTask">Limpiar</a>
                    </nav>
                </form>
            </section>
            <section>
                <table id="tblTasks">
                    <colgroup>
                        <col width="40%">
                        <col width="15%">
                        <col width="15%">
                        <col width="30%">
                    </colgroup>
                    <thead>
                        <tr>Nombre</tr>
                        <tr>Límite</tr>
                        <tr>Categoría</tr>
                        <tr>Acciones</tr>
                    </thead>
                </table>
                <nav>
                    <a href="#" id="btnAddTask">Añadir Tarea</a>
                </nav>
            </section>
        </main>
        <footer>Tiene <span id="taskCount"></span> tareas</footer>
    </body>
    <script>
        function initScreen(){
            $(document).ready(function(){
                tasksController.init($('#taskPage'),function(){
                    tasksController.loadTasks();
                });
            });
        }


        if(window.indexedBD){
            $.getScript("scripts/tasks-indexeddb.js").done(function(script,textStatus){
                initScreen();
            }).fail(function(jqxhr,settings,exception){
                console.log('Error al cargar el script indexedDB')
            });
        }
        else if(window.localStorage){
            $.getScript("scripts/tasks-webstorage.js").done(function(script,textStatus){
                initScreen();
            }).fail(function(jqxhr,settings,exception){
                console.log('Error al cargar el script webstorage')
            });
        }
    </script>
    <script id="taskRow" type="text/x-jQuery-tmpl">
        <tr>
            <td {{if complete==true}}class="taskCompleted"{{/if}}>${task}</td>
            <td {{if complete==true}}class="taskCompleted"{{/if}}><time datetime="${requiredBy}">${requiredBy}</time></td>
            <td {{if complete==true}}class="taskCompleted"{{/if}}>${category}</td>
            <td>
                <nav>
                    {{if complete!=true}}
                        <a href="#" class="editRow" data-task-id="${id}">Editar</a>
                        <a href="#" class="completeRow" data-task-id="${id}">Completar</a>
                    {{/if}}
                    <a href="#" class="deleteRow" data-task-id="${id}">Borrar</a>
                </nav>
            </td>
        </tr>       
    </script>
</html>
